{% extends 'base.html' %}

{% block title %}API{% endblock %}
{% block additionals %}
<script src="/static/js/api.js"></script>
<link rel="stylesheet" href="/static/css/api.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap">
{% endblock %}

{% block content %}
<div class="center">
    <img src="/static/img/collapseweb.svg" alt="CollapseWeb" id="logo">
    <div id="endpoints">
        <h3>Available API endpoints:</h3>
        <a href="/api/clients/">clients/</a> - Clients list (used for loader)</br>
        <a href="/api/fabric_clients/">fabric_clients/</a> - Fabric clients list (used for loader)</br>
        <a href="/api/configs/">configs/</a> - Config list (used for clients)</br>
        <a href="/api/messages/">messages/</a> - Messages list (used for alerting in loader)</br>
        <a href="/api/counter/">counter/</a> - Counter (used for analytics) </br>
        <a href="/credits">credits/</a> - Credits text (used for credits menu in loader)</br>
        <a href="/admin">admin/</a> - Admin panel
    </div>
</div>
{% endblock %}