{% extends 'base.html' %}
{% load compress %}

{% block title %}API{% endblock %}
{% block additionals %}

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

{% compress js %}
<script type="text/javascript" src="/static/js/api.js"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="/static/css/api.css">
{% endcompress %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap">

{% endblock %}

{% block content %}
<div class="center">
    <img src="/static/img/collapseweb.svg" alt="CollapseWeb" id="logo">
    <h3>Available API endpoints:</h3>

    <div id="endpoints">
        <a href="/api/clients/" aria-details="Clients list (used for loader)">clients/</a>
        <a href="/api/fabric_clients/" aria-details="Fabric clients list (used for loader)">fabric_clients/</a>
        <a href="/api/configs/" aria-details="Config list (used for clients)">configs/</a>
        <a href="/api/messages/" aria-details="Messages list (used for alerting in loader)">messages/</a>
        <a href="/api/counter/" aria-details="Counter (used for analytics)">counter/</a>
        <a href="/credits?lang=en" aria-details="Credits text (used for credits menu in loader)">credits/</a>
        <a href="/header?lang=en" aria-details="Header text (used for main menu header in loader)">header/</a>
        <a href="/admin" aria-details="Admin panel">admin/</a>
    </div>
</div>
{% endblock %}