<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CollapseWeb</title>

        <link rel="stylesheet" href="/static/css/styles.css">

        <meta name="darkreader-lock">

        <script src="static/js/script.js"></script>
        <script src="static/js/lenis.min.js"></script>

        <link rel="icon" type="image/x-icon" href="static/img/collapseweb.svg">
    </head>

    <body>
        <div class="header">
            <h1>COLLAPSE WEB</h1>
            <h1 style="color: var(--fg);">COLLAPSE WEB</h1>
            <h1>COLLAPSE WEB</h1>
        </div>

        <div class="cards">
            {% for client in clients %}
                <div class="card">
                    <img class="client-image" src="upload/{{ client.image }}">
                    <p>{{ client.name }}</p>
                    <span class="badge">{{ client.version }}</span>
                    <p class="dl-btn"><i class="nf nf-fa-download"></i><span style="margin-right: 0.5rem;"></span><a href="https://cdn.collapseloader.org/{{ client.filename }}">Download</a></p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>