<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollapseWeb</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/hotline-miami.css">

    <meta name="darkreader-lock">

    <script src="static/js/script.js"></script>
    <script src="static/js/lenis.min.js"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T94XRFZJ');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" type="image/x-icon" href="static/img/collapseweb.svg">

    <meta name="description" content="web version of the loader, designed to simplify work with the server side">
    <meta property="og:description" content="web version of the loader, designed to simplify work with the server side">

    <meta name="keywords" content="dest4590, collapseloader, collapse loader, collapseweb, collapse web">
    <meta name="author" content="dest4590">
    <meta property="og:title" content="CollapseWeb">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://web.collapseloader.org">


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T94XRFZJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="header">
        <div id="header-buttons">
            <a href="/api">API</a>
            <a href="/admin">Admin</a>
        </div>
        
        <h1 class="hotline-text" id="hl-text" can_hide="false">COLLAPSE WEB</h1>
        
        <br>
        <!-- <div id="drop">
            <form>
                <section>
                  <label for="select-standard">Select a version: </label>
                  <select name="1A" id="select-standard">
                    <option>All</option>
                    <option>gfdgfdsgfds</option>
                    <option>gfdsgfdsgfd</option>
                    <option>Pneumonou</option>
                  </select>
                </section>
        </div> -->
    </div>


    <div class="cards">
        {% for client in clients %}
            <div class="card">
                <img class="client-image" src="upload/{{ client.image }}">
                <p>{{ client.name }}</p>
                <span class="badge">{{ client.version }}</span>
                <a href="https://moneyz.fun/{{ client.link }}" target="_blank"><p class="dl-btn"><i class="nf nf-fa-download"></i><span style="margin-right: 0.5rem;"></span>Download</p></a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
