:root {
    --fg: #e0def4;
    --surface: #4c566a;
    --bg: #2e3440;
    --gb-1: #3b4252;
}

body {
    background-color: var(--bg);
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--fg);
}

a {
    color: var(--fg);
}

.center {
    margin-top: 2rem;
}

.center img {
    display: block;
    margin: 0 auto;
    width: 6rem;
}

#endpoints {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    opacity: 1;
    position: relative;
    transition: 500ms all cubic-bezier(.45, 0, .2, 1);
    gap: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#endpoints a {
    padding: 1rem;
    background-color: var(--surface);
    border-radius: 5px;
}