:root {
    --fg: #cdd6f4;
    --bg: #1e1e2e;
    --gb-1: #252538;
}

body {
    background-color: #1e1e2e;
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--fg);
}

a {
    color: var(--fg);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.center img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

#endpoints {
    margin-top: 3rem;
    opacity: 1;
    position: relative;
    transition: 500ms all cubic-bezier(.45, 0, .2, 1);
}

#endpoints a {
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
}