@font-face {
    font-family: 'Pixelicious';
    src: url('/static/fonts/pixelicious.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.hotline-text {
    font-family: Pixelicious, monospace !important;
    font-size: 3cap !important;
    text-transform: uppercase !important;
    color: transparent !important;
    filter: blur(0.3px) !important;
    position: relative;

    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-top: 3rem;
    margin-bottom: -1rem;
    width: 20rem;

    font-weight: 600;
    font-style: italic;
    transition: all 2s;
    
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        text-shadow: rgba(255, 255, 255, 0.9) -0.06em -0.06em, rgba(67, 144, 126, 0.9) 0 0;
    }

    33% {
        text-shadow: rgba(204, 255, 252, 0.9) -0.12em -0.12em, rgba(157, 94, 186, 0.9) 0 0;
    }

    66% {
        text-shadow: rgba(229, 255, 254, 0.9) -0.06em -0.06em, rgba(157, 94, 186, 0.9) 0 0;
    }

    100% {
        text-shadow: rgba(179, 255, 251, 0.9) -0.12em -0.12em, rgba(202, 69, 215, 0.9) 0 0;
    }
}

@keyframes headerWiggle {
    0% {
        margin-left: 0rem;
    }

    70% {
        margin-left: 2rem;
    }

    100% {
        margin-left: 0rem;
    }
}