:root {
    --fg: #cdd6f4;
    --surface: #313244;
    --bg: #1e1e2e;
    --gb-1: #252538;
}

body {
    background-color: #1e1e2e;
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--fg);
}

a {
    color: var(--fg);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-links {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.header-links a {
    padding: 1rem;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--gb-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--fg);
    padding: 1rem;
    width: 160px;
    height: 160px;
    filter: blur(5px);
    transition: all 500ms;
}

.card p {
    width: 160px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}

.card h3 {
    margin-bottom: 0;
}

.card a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    height: 40px;
    width: 145px;
    border-radius: 5px;
}

@keyframes glow {
    0% {
        
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 5px rgb(205, 214, 244, 0.5);
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.glow {
    animation: glow 1.5s ease-in-out;
}